{% if user.is_authenticated %} 
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
            <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="{% url 'supersystem_webpages-index' %}">Go Home</a></li>
            <li class="breadcrumb-item text-dark active" aria-current="page">
              Home
            </li>
          </ol>
        </nav>
        <div class="collapse navbar-collapse me-md-0 me-4" id="navbar">
          <ul class="navbar-nav mb-2 mb-sm-0 ms-sm-auto justify-content-sm-end">
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'supersystem_webpages-update' %}" class="nav-link text-body text-uppercase font-weight-bold px-0">
                <img src="{{navbar_user.Profile_picture.url}}" class="avatar avatar-sm me-3" alt="" id="navbar_image">
                {{navbar_user.Account_name}} 
              </a>
            </li>
            <li class="nav-item px-4 d-flex align-items-center">
              <a href="{% url 'Health_services-Appointment_history' %}" class="nav-link text-body text-uppercase font-weight-bold px-0">
                Transaction History 
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'supersystem_webpages-logout' %}" class="nav-link text-body text-uppercase font-weight-bold px-0">
                Logout
              </a>
            </li>
            <li class="nav-item d-xl-none ps-4 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="ms-md-auto ps-md-3 d-flex align-items-center">
          <div class="bg-white border-radius-lg d-flex">
           
          </div>
        </div>
    </div>
  </nav>

  {% else %}
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
            <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item text-dark active" aria-current="page">
              Dashboard
            </li>
          </ol>
        </nav>
        <div class="collapse navbar-collapse me-md-0 me-4" id="navbar">
          <ul class="navbar-nav mb-2 mb-sm-0 ms-sm-auto justify-content-sm-end">
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'supersystem_webpages-login' %}" 
                 class="nav-link text-body text-uppercase font-weight-bold px-0">
                Login
              </a>
            </li>
           
            <li class="nav-item px-4 d-flex align-items-center">
              <a href="{% url 'supersystem_webpages-createaccount' %}" 
                 class="nav-link text-body text-uppercase font-weight-bold px-0">
                Register
              </a>
            </li>

            <li class="nav-item d-xl-none ps-4 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="ms-md-auto ps-md-3 d-flex align-items-center">
          <div class="bg-white border-radius-lg d-flex">
           
          </div>
        </div>
    </div>
  </nav>
  {% endif %}
